@media screen and (min-width:641px) {
    
    .header-content {
        padding: 1rem 2rem;
    }

    .logo {
        font-size: 1.35rem;
    }

    main {
        width: min(100% - 3, 1000px);
    }

    .hero {
        padding: 2.5rem auto;
    }

    .hero-image img {
        min-height: 450px;
        aspect-ratio: 16 / 10;
    }

    .hero-content {
        left: 8%;
        right: 8%;
        bottom: 8%;
        padding: 1.5rem 2rem;
    }

    .hero-content h1 {
        font-size: 2.75rem;
    }

    .hero-content p {
        max-width: 650px;
        margin-right: auto;
        margin-left: auto;
    }

    .gift-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .filter-controls {
    grid-template-columns: repeat(3, 1fr);
    }

}